################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs
*/bin
*/obj
*\pub
bin
Debug
Release
obj
**/debugpublish
/frontend/node_modules
/frontend/dist
/ApiGateWay/publish
/Services/CommonService/JobRunner/publish
/Services/GoodsService/Goods.Host/publish
/Services/OrderService/Order.Host/publish
/Services/TradeService/Trade.Host/publish
/Services/UserService/User.Host/publish
